{{extend 'layout.html'}}
	  <div class="container">
		  <div class="row">
			  <div class="span6">
      <h1>Messages With 300 Chars</h1>
      <p>Welcome to <strong>Tukker.Me</strong>, the new way to tell your friends and the world what you are thinking.</p>
              </div>
              <div class="span4 offset2">
				  <a class="btn btn-large btn-primary" type="button" href="{{=URL(c="default",f="user", args="register")}}">Register!</a>
              </div>
          </div>
      </div>
